.listContainer {
  list-style-type: none;
}

.bgContainer {
  background-color: #ffc2a0;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todoContainer {
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
}

.heading {
  color: #ff8542;
}
